body {
    background-color: bisque;
}

.center {
    float: right;
    position: relative;
    right: 50%;
    }

.container {
    padding: 50px;
    margin-top: 50%;
    position: relative;
    left: 50%; 
    text-align: center;
    background-color: burlywood;
    width: 1000px;
}

